*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.banner{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.75), rgba(0,0,0,0.75)), url("/Images/spacex.jpg");
    background-size: cover;
    background-position: center;
}
.content{
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color: gray;
}
.content h2{
    font-size: 30px;
    margin-top: 10px;
}
.navbar{
    width: 85%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}
.navbar li a{
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
}
.navbar li::after{
    content: '';
    height: 3px;
    width: 0;
    background: thistle;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 1s;
}
.navbar li:hover::after{
    width: 100%;
}

.carousel {
    position: relative;
    width: 100%;
    height: 500px;
    overflow: hidden;
    top: 10%;
}
  
.carousel-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 300%;
    height: 100%;
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.centre {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    color: white;
    font-size: 50px;
    width: 100px;
    height: 100px;
    top: 200px;
    z-index: 3;
}

.prev {
    left: 0;
}

.next {
    right: 0;
}

#flex {
    display: flex;
}

#flex2 {
    display: flex;
}
  
.slide {
    position: relative;
    flex: 1;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
  
.slide img {
    width: 70%;
    height: 100%;
}
  
.slide-caption {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    width: 100%;
    transform: translateY(100%);
    transition: transform 0.5s ease-in-out;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
  
.slide:hover .slide-caption {
    transform: translateY(0);
}
  
